.card {
    min-height: 550px;
    
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
    }

    p {
        padding-left: 16px;
        padding-right: 16px;
        color: rgba(0, 0, 0, 0.8);
        font-size: 20px;
    }

    button {
        width: 50%;
        position: absolute;
        bottom: 0; 
        border: unset;
        height: 32px;
        background-color: white;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        cursor: pointer;

        
        &:first-child {
            left: 0;
        }

        &:last-child{
            right: 0;
            border-left: 1px solid rgba(0, 0, 0, 0.15);
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.15);
        }

        mat-icon {          
            font-size:14px;
            display: flex;
            align-items: center;
            justify-content: center; 
        }

        display: flex;
        align-items: center;
        justify-content: center; 
    }
}